.footer{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white)
}
.footer-list-container{
    padding: 1rem;
    display: flex;
    gap: 4rem;
    list-style: none;
}
.footer-list-item{
    text-decoration: none;
    color: var(--color-white)
}
@media (max-width:500px) {
    .footer-list-container{
        gap:1rem;
    }
}